@font-face {
  font-family: gothamBook;
  src: url("fonts/gotham-book.ttf");
}
@font-face {
  font-family: gothamMedium;
  src: url("fonts/gotham-medium.ttf");
}
@font-face {
  font-family: gothamBold;
  src: url("fonts/gotham-bold.ttf");
}


body {
  margin: 0;
}


.hero-banner {
  width: 100%;
  position: relative;
  margin-top: 65px;
}

.hero-banner-image {
  position: relative;
}

.hero-banner-image img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.hero-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  text-align: center;
  max-height: 450px;
}

.banner-headline {
  font-family: gothamBold;
  text-transform: uppercase;
  color: #d10057;
  font-size: 42px;
  margin-bottom: 10px;
}
.banner-subheadline {
  font-family: gothamBook;
  color: #777777;
  font-size: 16px;
  margin-bottom: 25px;
}

button {
  border: 0;
  background: #d10057;
  border-radius: 3px;
  padding: 25px 80px 22px 80px;
  cursor: pointer;
}
button span {
  font-family: gothamBook;
  color: white;
  font-size: 16px;
}

@media(max-width: 991px) {
  .banner-headline {
    font-size: 35px;
    margin-top: 50px;
  }
  .banner-subheadline {
    font-size: 16px;
  }
}

@media only screen and (max-width: 800px) {
  .collection-btn {
    display: none;
  }
  .banner-headline {
    font-size: 26px;
    margin-top: 40px;
  }
  .banner-subheadline {
    font-size: 14px;
    line-height: 18px;
  }
}

@media(max-width: 600px) {
  .collection-btn {
    display: none;
  }
  .banner-headline {
    font-size: 20px;
    margin-top: 6%;
  }
  .banner-subheadline {
    font-size: 12px;
    line-height: 16px;
  }
}
/* 

h1 on mobile: font-size: 18px;
h2 on mobile: font-size: 12px; line-height: 18px; 

*/